@import '/src/stylesheets/functions/sizing';
@import '/src/stylesheets/variables';
@import "~bootstrap/scss/bootstrap-grid.scss";

:host {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url('/assets/images/background.png');
  background-position: center;
  background-size: cover;
}

.sign-in-wrapper {
  display: flex;
  width: rem(320px);
  flex-direction: column;
  justify-content: center;

  padding: rem(10px);

  @include media-breakpoint-up(md) {
    width: rem(400px);
  }

  @include media-breakpoint-up(lg) {
    width: rem(500px);
  }
}
