@import 'variables';
@import 'functions/sizing';

.form-sign-in {
  margin-top: rem(32px);

  &__label {
    font-weight: $font-weight-bold;
    font-size: map-get($font-sizes, 'sm');

    cursor: pointer;
  }

  &__input:last-of-type {
    display: inline;
    padding-right: rem(95px);
  }

  &__forgot-password {
    color: map-get($brand-gray, 600);
    margin-left: rem(-90px);
    font-size: map-get($font-sizes, 'sm');
    line-height: rem(20px);
  }
}
