.icon {
  &,
  & svg {
    width: rem(30px);
    height: rem(30px);
    fill: transparent;
  }

  &--sm,
  &--sm svg {
    width: rem(28px);
    height: rem(28px);
  }

  &--lg,
  &--lg svg {
    width: rem(56px);
    height: rem(56px);
  }
}
