<app-alert
  *ngIf="alertMessage !== ''"
  [icon]="alertIcon"
  [title]="alertTitle"
  [message]="alertMessage"
></app-alert>

<form [formGroup]="forgotPasswordForm" class="form-forgot-password">
  <div class="form-group">
    <label for="email" class="form-forgot-password__label">Email</label>
    <input
      formControlName="email"
      name="email"
      id="email"
      type="email"
      class="form-control form-forgot-password__input"
      required
    />
  </div>

  <button
    [disabled]="!forgotPasswordForm.valid"
    class="btn btn-primary btn-block form-forgot-password__submit-button"
    type="submit"
  >
    Send Recovery Email
  </button>
</form>
