@import "variables";
@import "functions/sizing";

.form-forgot-password {
  margin-top: rem(32px);

  &__label {
    font-weight: $font-weight-bold;
    font-size: map-get($font-sizes, "sm");

    cursor: pointer;
  }
}
