// Colors
$brand-gray: (
  100: hsl(210, 50%, 98%), // #f9fbfd
  200: hsl(206, 26%, 95%), // #eef2f5
  300: hsl(214, 16%, 92%), // #e6e9ed
  400: hsl(224, 10%, 79%), // #c3c6ce
  500: hsl(227, 8%, 65%), // #9ea1ac
  600: hsl(229, 6%, 49%), // #747784
  700: hsl(227, 8%, 33%), // #4d505b
  800: hsl(230, 9%, 25%), // #3b3d47
  900: hsl(234, 11%, 18%), // #292a33
  backgound: hsl(240, 11%, 9%) //#15151a
);

// Fonts
$font-size: (
  xxs: 0.625rem,  // 10px
  xs: 0.75rem,    // 12px
  sm: 0.875rem,   // 14px
  md: 1rem,       // 16px
  lg: 1.125rem,   // 18px
  xl: 1.25rem,    // 20px
);

$font-weight-normal: 400;
$font-weight-bold: 800;

// ---------------------------
// Override Bootstrap Variables
// ---------------------------

// Colors
$grays: map-merge((), $brand-gray);

$white: #fff;
$black: #000;
$gray: map-get($brand-gray, 500);

$primary: $white;
$secondary: $gray;

// Fonts
$font-size-base: map-get($font-size, 'md');
$font-size-lg: map-get($font-size, 'lg');
$font-size-sm: map-get($font-size, 'sm');

$h2-font-size: map-get($font-size, 'xl');
$headings-font-weight: $font-weight-bold;

$display1-size: 2.5rem; // 40px
$display2-size: 1.75rem; // 28px

$display1-weight: $font-weight-bold;
$display2-weight: $font-weight-bold;

// Spacing
$spacer: 1rem; // 16px

// Form
$input-bg: rgba($white, 0.18);
$input-border-radius: 0.75rem;
$border-radius: 0.75rem; // 12px
$input-padding-y: 1rem; // 16px
$input-padding-x: 0.75rem; // 12px
$input-font-size: map-get($font-size, 'md');
$input-line-height: 1.375; // 22px
$input-border-width: 0;

// Buttons
$btn-border-radius: 0.625rem; // 10px
$btn-line-height: 1.375; // 22px
$btn-padding-y: 1rem; // 16px
$btn-padding-x: 5rem; // 80px

// Body
$body-bg: map-get($grays, "background");
$body-color: $white;
