// Colors
$brand-gray: (
  100: hsl(210, 50%, 98%),      // #f9fbfd
  200: hsl(206, 26%, 95%),      // #eef2f5
  300: hsl(214, 16%, 92%),      // #e6e9ed
  400: hsl(224, 10%, 79%),      // #c3c6ce
  500: hsl(227, 8%, 65%),       // #9ea1ac
  600: hsl(229, 6%, 49%),       // #747784
  700: hsl(227, 8%, 33%),       // #4d505b
  800: hsl(230, 9%, 25%),       // #3b3d47
  900: hsl(234, 11%, 18%),      // #292a33
  woodsmoke: hsl(240, 11%, 9%)  // #15151a
);

$brand-red: (
  primary: hsl(343, 100%, 44%)  // #e20041
);

$brand-blue: (
  light: hsl(211, 100%, 50%),   // #007aff
  primary: hsl(223, 100%, 44%)  // #0041e2
);
// Fonts
$font-sizes: (
  xl: 2.125rem,           // 34px
  lg: 1.25rem,            // 20px
  md: 1.0625rem,          // 17px
  sm: 0.9375rem,          // 15px
  xs: 0.8125rem,          // 13px
  xxs: 0.6875rem          // 11px
);

$font-weight-normal: 400;
$font-weight-bold: 800;

// ---------------------------
// Override Bootstrap Variables
// ---------------------------

// Colors
$grays: map-merge((), $brand-gray);

$white: #fff;
$black: #000;
$red: map-get($brand-red, 'primary');
$blue: map-get($brand-blue, 'primary');
$gray: map-get($brand-gray, 500);

$primary: $white;
$secondary: $gray;

// Fonts
$font-size-base: map-get($font-sizes, 'md');
$font-size-lg: map-get($font-sizes, 'lg');
$font-size-sm: map-get($font-sizes, 'sm');

$h2-font-size: map-get($font-sizes, 'xl');
$headings-font-weight: $font-weight-bold;

$display1-size: 2.5rem; // 40px
$display2-size: 1.75rem; // 28px

$display1-weight: $font-weight-bold;
$display2-weight: $font-weight-bold;

// Spacing
$spacer: 1rem; // 16px

// Form
$input-bg: rgba($white, 0.18);
$input-border-radius: 0.75rem;
$border-radius: 0.75rem;            // 12px
$input-padding-y: 1rem;             // 16px
$input-padding-x: 0.75rem;          // 12px
$input-line-height: 1.375;          // 22px
$form-group-margin-bottom: 1.5rem;  // 24px
$input-border-width: 0;
$input-font-size: map-get($font-sizes, 'md');

// Buttons
$btn-border-radius: 0.625rem; // 10px
$btn-line-height: 1.375;      // 22px
$btn-padding-y: 1rem;         // 16px
$btn-padding-x: 5rem;         // 80px
$btn-font-weight: $font-weight-bold;

// Body
$body-bg: map-get($grays, "woodsmoke");
$body-color: $white;
