@font-face {
  font-family: 'Neuzeit S LT Std';
  src: url('../../assets/fonts/NeuzeitSLTStd-Book.otf');
}

@font-face {
  font-family: 'Neuzeit S LT Std';
  font-weight: $font-weight-bold;
  src: url('../../assets/fonts/NeuzeitSLTStd-BookHeavy.otf');
}
