<div class="loading-skeleton">
  <div class="loading-skeleton__navigation">
    <div class="loading-skeleton__logo">
      <ngx-skeleton-loader></ngx-skeleton-loader>
    </div>
    <div class="loading-skeleton__user-profile">
      <ngx-skeleton-loader appearance="circle"></ngx-skeleton-loader>
    </div>
  </div>

  <div class="loading-skeleton__content">
    <div class="loading-skeleton__header">
      <div class="loading-skeleton__date">
        <ngx-skeleton-loader></ngx-skeleton-loader>
      </div>
      <div class="loading-skeleton__day">
        <ngx-skeleton-loader></ngx-skeleton-loader>
      </div>
    </div>

    <div class="loading-skeleton__body">
      <div class="loading-skeleton__image">
        <ngx-skeleton-loader></ngx-skeleton-loader>
      </div>
    </div>

    <div class="loading-skeleton__footer">
      <div class="loading-skeleton__footer-content">
        <div class="loading-skeleton__footer-title">
          <ngx-skeleton-loader></ngx-skeleton-loader>
        </div>
        <div class="loading-skeleton__footer-description">
          <ngx-skeleton-loader></ngx-skeleton-loader>
        </div>
      </div>

      <div class="loading-skeleton__action">
        <div class="loading-skeleton__next-button">
          <ngx-skeleton-loader appearance="circle"></ngx-skeleton-loader>
        </div>
      </div>
    </div>
  </div>
</div>
