<div class="loading-skeleton">
  <div class="loading-skeleton__navigation">
    <div class="loading-skeleton__logo">
      <ngx-skeleton-loader
        [theme]="{
          width: '117px'
        }"
      ></ngx-skeleton-loader>
    </div>
    <div class="loading-skeleton__user-profile">
      <ngx-skeleton-loader appearance="circle"></ngx-skeleton-loader>
    </div>
  </div>

  <div class="loading-skeleton__content">
    <div class="loading-skeleton__header">
      <div class="loading-skeleton__date">
        <ngx-skeleton-loader
          [theme]="{
            width: '117px',
            height: '18px'
          }"
        ></ngx-skeleton-loader>
      </div>
      <div class="loading-skeletons__day">
        <ngx-skeleton-loader
          [theme]="{
            width: '90px',
            height: '18px'
          }"
        ></ngx-skeleton-loader>
      </div>
    </div>

    <div class="loading-skeleton__body">
      <div class="loading-skeleton__image">
        <ngx-skeleton-loader
          [theme]="{
            height: '302px'
          }"
          animation="progress"
        ></ngx-skeleton-loader>
      </div>
    </div>

    <div class="loading-skeleton__footer">
      <div class="loading-skeleton__footer-content">
        <div class="loading-skeleton__title">
          <ngx-skeleton-loader
            [theme]="{
              width: '318px',
              height: '18px'
            }"
          ></ngx-skeleton-loader>
        </div>
        <div class="loading-skeleton__description">
          <ngx-skeleton-loader
            [theme]="{
              width: '210px',
              height: '18px'
            }"
          ></ngx-skeleton-loader>
        </div>
      </div>

      <div class="loading-skeleton__action">
        <div class="loading-skeleton__next-button">
          <ngx-skeleton-loader
            [theme]="{
              width: '56px',
              height: '56px'
            }"
            appearance="circle"
          ></ngx-skeleton-loader>
        </div>
      </div>
    </div>
  </div>
</div>
