@import "variables";
@import "functions/sizing";

:host ::ng-deep ngx-skeleton-loader .progress {
  &:before {
    background-image: linear-gradient(
      90deg,
      #313236,
      #49494d,
      #313236
    ) !important;
  }
}

.loading-skeleton {
  margin-left: rem(30px);
  margin-right: rem(32px);

  &__navigation {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__header,
  &__body,
  &__footer {
    width: rem(704px);
  }

  &__image {
    height: rem(302px);
  }
}
