@import "variables";
@import "functions/sizing";

:host ::ng-deep ngx-skeleton-loader .loader {
  background-color: #313136;
  border-radius: rem(10px);
}

:host ::ng-deep ngx-skeleton-loader .progress {
  &:before {
    background-image: linear-gradient(
      90deg,
      #313236,
      #49494d,
      #313236
    ) !important;
  }
  margin: 0;
}

:host ::ng-deep .loading-skeleton__user-profile ngx-skeleton-loader .loader {
  width: rem(36px);
  height: rem(36px);
}

:host ::ng-deep .loading-skeleton__user-profile ngx-skeleton-loader .logo {
  width: rem(36px);
  height: rem(36px);
}

.loading-skeleton {
  margin: rem(32px 32px 0 32px);

  &__navigation {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    // width: rem(117px);
    // height: rem(18px);
    // margin-top: rem(10px);
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__header,
  &__body,
  &__footer {
    width: rem(704px);
  }

  &__image {
    height: rem(302px);
  }

  &__footer {
    display: flex;
    justify-content: space-between;
  }

  &__action {
    align-self: flex-end;
  }
}
